---
import { Image } from 'astro:assets';
---

<header class="c--header-a">
  <div class="f--container">
    <div class="f--row">
      <div class="f--col-12">
        <div class="c--header-a__wrapper">
          <Image
            src="https://placeholder.terrahq.com/logo-rectangular.webp"
            alt="Terra HQ logo"
            width="229"
            height="47"
            class="c--header-a__logo"
          />
        </div>
      </div>
    </div>
  </div>
</header>
